
.profilePic{
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    margin-right: .5rem;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar div{
    width: 100%;
}

.navbar-links{
    display: flex;
    width: 25%;
    height: 2rem;
}

.navbar-link{
    margin: 0px .5rem;
    height: 1rem;
}