
.introduction{
    margin: 5rem 0;
}

.introduction p{
    font-size: 1.5em;
}

.skills{
    text-align: center;
}

.skills h1{
    margin-bottom: 3rem;
}

.skills-lists{
    display: flex;
    justify-content:space-around;
}

.skills-separator{
    height: auto;
    width: .1rem;
    background-color: gray;
    border-radius: 2px;
}

.skill-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.skill-icon{
    width: 80px;
}

.recent-projects{
    text-align: center;
    margin-top: 5rem;
}

.recent-projects-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}