
.skills-lists{
    display: flex;
    justify-content:space-around;
}

.skills-separator{
    height: auto;
    width: .1rem;
    background-color: gray;
    border-radius: 2px;
}

.skill-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-icon{
    width: 64px;
}

.skill-list{
    margin: 1rem ;
}
 
.skill-list .tittle{
    text-align: center;
}