:root {
    --card-font-color: black;
    --situacion-text-color: white;
    --resultado-text-color: white;
}

body {
    font-family: Arial, Helvetica;
}

.container {
    margin-top: 2%;
}

.container * {
    justify-content: center;
}

.options-div {
    margin-top: 4%;
    display: flex;
}

.options-div p {
    max-width: 200px;
}

.text-situacion {
    margin-left: 10%;
    margin-right: 10%;
    color: var(--situacion-text-color);
}

.card {
    text-align: center;
    height: 380px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 10px;
    border: 2px solid #62656f;
    border-radius: 30px;
}

.card:hover {
    transform: scale(1.1);
}

.card-body {
    padding-left: 0px;
    padding-right: 0px;
}

.card-image {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.card-body h3 {
    margin-top: 10px;
    text-align: center;
    color: var(--card-font-color);
}

.card-body hr {
    color: black;
    margin: 0px auto;
    width: 80%;
    margin-bottom: 5px;
}

.card-body p {
    margin-left: 20px;
    margin-right: 20px;
    color: var(--card-font-color);
}