body {
    font-family: Arial, Helvetica;
}

body * {
    color: white;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.container {
    margin-top: 2%;
}

.container * {
    justify-content: center;
}

.options_div {
    margin-top: 4%;
    display: flex;
}

.card {
    text-align: center;
    height: 380px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 10px;
    border: 2px solid #62656f;
    border-radius: 30px;
}

.card:hover {
    transform: scale(1.1);
}

.card-body {
    padding-left: 0px;
    padding-right: 0px;
}

.card-body h3 {
    margin-top: 10px;
    text-align: center;
}

.card-body hr {
    color: black;
    margin: 0px auto;
    width: 80%;
    margin-bottom: 5px;
}

.card-body p {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}


.center_text {
    width: auto;
    text-align: center;
}

.options_div p {
    max-width: 200px;
}

.text_situacion {
    margin-left: 10%;
    margin-right: 10%;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li a:hover {
    background: #4eb5f0;
}

.menu li {
    display: inline-block;
    text-align: center;

}

.replay-button {
    border-radius: 5px;
    color: white;
    background-color: #444b66;
}